.apps {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.apps__header {
	padding: 6px 8px;
	flex: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #0e3f67; /*var(--blue-800);*/
	border: 1px solid #0e3f67;
}

.apps__header h2 {
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0px;
	line-height: 30px;
}

.apps__launchpad {
	padding: 1em;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.apps__cards {
	margin-top: 16px;
}

.apps__card {
	padding-top: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgba(128, 128, 128, 0.591);
}

.apps__card img {
	width: 80px;
}

.apps__name {
	margin-bottom: 4px;
	z-index: 999;
	font-size: medium;
}

.apps__actions {
	margin-top: 4px;
	text-align: right;
}
