.apps {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.apps__header {
	padding: 6px 8px;
	flex: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #0e3f67; /*var(--blue-800);*/
	border: 1px solid #0e3f67;
}

.apps__header h2 {
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0px;
	line-height: 30px;
}

.apps__launchpad {
	padding: 1em;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.app__card {
	padding: 8px 0;
	border-bottom: 1px solid lightgray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.app__card :hover {
	cursor: pointer;
}

.app__card-img {
	height: 64px;
	/* border: 1px solid rgba(128, 128, 128, 0.591); */
}

.app__card-img img {
	width: 64px;
}

.apps__name {
	margin-bottom: 4px;
	z-index: 999;
	font-size: medium;
}

.apps__actions {
	margin-top: 4px;
	text-align: right;
	width: 80px;
}

.apps__action {
	width: 80px;
}
