.data {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--bluegray-200);
}

.data__header {
    padding: 4px 8px;
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0e3f67;
    background: var(--bluegray-600);
}

.data__header h2 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 30px;
}

.data__browser {
    padding: 1em;
    flex: 1;
}

.data__error {
    margin-bottom: 1em;
}

.data__row-actions {
    visibility: hidden;
}

.data__row:hover .data__row-actions {
    visibility: visible;
}

:host>>>.p-draggable-enter .data__row {
    background-color: blue;
}

:host>>>.p-button {
    margin: 0;
    padding: 0.4em 0.75em;
}

td .pi {
    margin-right: 16px;
}