.spaces__layout-wrapper {
	display: flex;
	flex-direction: row;
}

.services__activity {
	min-width: 240px;
	margin-left: 16px;
}

.spaces__layout-top {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 960px;
}

.spaces__layout-bottom {
	display: flex;
	flex-direction: row;
}

.services__files {
	flex: 1;
}

.services__apps {
	flex: 0;
	min-width: 160px;
	margin-right: 16px;
}

.services__sessions {
	flex: 1;
}
